/*MainMenu View Styles*/

.container {
	display: flex;
	width: 100vw;
	overflow-x: hidden;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.content {
	transition: all 0.5s ease-in-out;
	transform-origin: left top;
}
