
/*SideBar View Styles*/


.container
{
	margin: 6px 1rem 0px 6px;
	width: 6rem;
	border: dashed white 1px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 98vh;
}

.sidebarItemContainer
{
	padding: 0.6rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	height: 35%;
}
