
/*SideBar View Styles*/


.container
{
	margin: 6px 1rem 0px 6px;
	width: 160px;
	border: dashed white 1px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
